<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/stylesOA.css">
</head>
<body class="sidebar-fixed header-fixed" onload="writeLoginInfo();changeInfo()">
<div class="page-wrapper">
    <nav class="navbar page-header" style="padding-top: 0px">
        <a href="" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="">
            <img src="/static/imgs/logo.png" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">6</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <img src="/static/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none" id="loginname" th:text="${login_username}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/admin/seleinfo" class="dropdown-item">
                        <i class="fa fa-user"></i> 个人信息
                    </a>

                    <a href="#" class="dropdown-item" onclick="clearLoginInfo()">
                        <i class="fa fa-lock"></i> 退出
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">导航</li>

                    <li class="nav-item">
                        <a href="/admin/index" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 仪表盘
                        </a>
                    </li>
                    <!--菜单开始-->
                    <!--业务统计模块-->
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-graph"></i> 业务统计 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/admin/salesvolume" class="nav-link">
                                    <i class="icon icon-graph"></i>&nbsp;&nbsp;产品销量
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/sellersvolume" class="nav-link">
                                    <i class="icon icon-graph"></i>&nbsp;&nbsp;销售员业绩
                                </a>
                            </li>
                            <!--<li class="nav-item">-->
                            <!--<a href="/admin/areavolume" class="nav-link">-->
                            <!--<i class="icon icon-graph"></i>&nbsp;&nbsp;地区销量-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </li>
                    <!--活动管理模块-->
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> 活动管理模块 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="/admin/activity" class="nav-link">
                                        <i class="icon icon-target"></i>&nbsp;&nbsp;促销活动
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/admin/gift" class="nav-link">
                                        <i class="icon icon-target"></i>&nbsp;&nbsp;礼品领取记录
                                    </a>
                                </li>

                            </ul>
                        </ul>
                    </li>
                    <!--农产品管理模块-->
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 农产品管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/admin/getAllgoods?pageNo=1" class="nav-link">
                                    <i class="icon icon-energy"></i> &nbsp;&nbsp;农产品列表
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/addGoods" class="nav-link">
                                    <i class="icon icon-energy"></i> &nbsp;&nbsp;增加新农产品
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/order" class="nav-link">
                                    <i class="icon icon-energy"></i> &nbsp;&nbsp;订单列表
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/orderservice" class="nav-link">
                                    <i class="icon icon-energy"></i> &nbsp;&nbsp;退货列表
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--人事管理模块-->
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-puzzle"></i> 人事管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/admin/info" class="nav-link">
                                    <i class="icon icon-puzzle"></i> &nbsp;&nbsp;信息管理
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/admin/attendce" class="nav-link">
                                    <i class="icon icon-puzzle"></i> &nbsp;&nbsp;考勤记录
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/admin/left" class="nav-link">
                                    <i class="icon icon-puzzle"></i>&nbsp;&nbsp; 出差审核
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-title">More</li>
                    <li class="nav-item">
                        <a href="/admin/suggest" class="nav-link">
                            <i class="icon icon-grid"></i>投诉与建议
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/question" class="nav-link">
                            <i class="icon icon-grid"></i> 技术咨询
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!--模板结束11111-->
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>修改农产品详情</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <!--id=""-->
                                            <form action="saveUpdateGoodsInfo"  name="fileUpload" id="goodsInfo" method="post"
                                                  enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group" id="oldImg" style="display: block">
                                                            <img th:src="@{${goods.newImgPath}}"
                                                                 style="width: 100px;height: 100px"  name="file"/>
                                                        </div>
                                                        <!--newfile-->
                                                        <!--<input type="file" id="fileName" nama="fileName" multiple="multiple" onchange="read()" >-->

                                                        <div id="imgDiv"></div>
                                                        <br>
                                                        <!--<a class="btn btn-primary" onclick="fileName.click()" id="clickButton">更改照片</a>-->
                                                        <!--<br>-->
                                                        <!--<br>-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label">商品名</label>
                                                            <input id="go_name" class="form-control"
                                                                   value="" th:field="*{goods.name}">
                                                        </div>
                                                    </div>
                                                    <input class="form-control" name="id"
                                                           value="" type="hidden" th:field="${goods.id}">
                                                    <div class="col-md-4">
                                                        <div>
                                                            <input id="go_brand" name="temp" class="form-control"
                                                                   value="" type="hidden" th:field="${goods.sort}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-control-label">分类</label>
                                                            <select id="sort-select" name="sort" class="form-control">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label">品牌</label>
                                                            <input id="go_version" class="form-control"
                                                                   value="" th:field="*{goods.version}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label">库存</label>
                                                            <input id="go_num" class="form-control"
                                                                   value="" th:field="*{goods.num}">
                                                            <input type="hidden" id="ueInfo" name="ueInfo" class="form-control"
                                                                   value="" th:field="*{goods.introduce}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label">销售价格</label>
                                                            <input id="go_price" class="form-control"
                                                                   value="" th:field="*{goods.price}" >
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label">销售底价</label>
                                                            <input id="go_minprice" class="form-control"
                                                                   value="" th:field="*{goods.minPrice}" >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-control-label">积分</label>
                                                            <input name="credit" class="form-control"
                                                                   value="" th:field="*{goods.credit}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <form method="post" class="form-horizontal" action="">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <h3>产品介绍</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card-body p-0">
                                                            <div class="col-md-12">
                                                                <script id="editor" type="text/plain" style="width:99.9%;min-height:560px;"></script>
                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-4 col-sm-offset-8">
                                                             <a id="submitInfo" class="btn btn-primary">保&nbsp;&nbsp;存</a>&nbsp;&nbsp;
                                                             <a href="getAllgoods" class="btn btn-info">返&nbsp;&nbsp;回</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--模板开始222222-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script src="/static/vendor/jquery/jquery.min.js"></script>
 <script src="/static/vendor/popper.js/popper.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/carbon.js"></script>
<script type="text/javascript" src="/static/js/adminjq.js"></script>
<script type="text/javascript" src="/static/js/admin.js"></script>


<!--ue-->
<script type="text/javascript" charset="utf-8" src="/static/ue/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ue/ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/static/ue/lang/zh-cn/zh-cn.js"></script>


<script type="text/javascript">
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action) {
        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage'||action == 'fileUpload3') {
            return 'http://localhost:8080/admin/fileUpload3';//此处写自定义的图片上传路径
        } else if (action == 'uploadvideo') {
            return 'http://a.b.com/video.php';
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }
</script>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    function isFocus(e) {
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e) {
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData() {
        alert(UE.getEditor('editor').execCommand("getlocaldata"));
    }

    function clearLocalData() {
        UE.getEditor('editor').execCommand("clearlocaldata");
        alert("已清空草稿箱")
    }

</script>

<script type="text/javascript">
    $.ajax({//下拉选择分类
        url: '/user/getGoodsSort',
        type: "get",
        dataType: 'json',
    }).done(function (results) {
        $('#sort-select').html('');
        var options = '';
        options += '';
        for (var i = 0; i < results.length; i++) {
            options += '<option value="' + results[i].id + '">' + results[i].name + '</option>';
        }
        $('#sort-select').append(options);
    }).fail(function (error) {
        $('#sort-select').html('');
        var options = '';
        options += '<option value="">--请选择--</option>';
        $('#sort-select').append(options);
    });//下拉选择商品分类
</script>

<script type="text/javascript">
    //这段要放在文本编辑器的实例化之后

    $("#submitInfo").click(function () {
        var e1=document.getElementById("ueInfo");
        e1.value=UE.getEditor('editor').getContent();
        var formData = new FormData(document.getElementById("goodsInfo"));
        for(let [key,value] of formData.entries()){
            console.log(key +"=:"+ value)
        }
        $("#go_brand").remove();
        console.log("e1.value:"+e1.value);
        var form = document.getElementById('goodsInfo');
        console.log("form:"+form.toString());
        form.submit();
    });

</script>
 <script type="text/javascript" th:inline="javascript">

    function writeLoginInfo() {
        var local_username = localStorage.getItem("login_username");//登录
        var e = document.getElementById("loginname");
        console.log("local_username:" + local_username);
        e.innerText = local_username;
        var login_username = [[${login_username}]];
        console.log("login_username:" + login_username);
        if (login_username != undefined) {
            localStorage.setItem("login_username", login_username);
            e.innerText = login_username;
        }


        var ele1=document.getElementById("go_brand");//下拉被选
        var ele2=document.getElementById("sort-select");
        for (i = 0; i <= ele2.options.length; i++) {
            if (ele2.options[i].value == ele1.value) {
                ele2.options[i].selected = true;
                ele1.parentNode.removeChild(ele1);
                break;
            }
        }

        var e1=document.getElementById("ueInfo").value;
        UE.getEditor('editor').setContent(e1);
    }
    // function read(){//444
    //     var file = document.getElementById("fileName");//newfile 3
    //     var imgDiv = document.getElementById("imgDiv");
    //     imgDiv.innerHTML='';
    //     for(var i=0;i<file.files.length;i++){
    //         let reader = new FileReader();
    //         var file1 = file.files[i];
    //         reader.readAsDataURL (file1);
    //         reader.onload = function (result) {
    //             //reader对象的result属性存储流读取的数据
    //             imgDiv.innerHTML += '<img src="' + reader.result + '" style="height: 100px;width: 100px"/>'
    //             // console.log(reader.result) // 打印出转换后的base64
    //         }
    //     }
    //
    //     var ele=document.getElementById('oldImg');
    //     console.log("oldImg:"+ele.toString())
    //     ele.style.display='none';
    //     var formData = new FormData(document.getElementById("goodsInfo"));
    //     for(let [key,value] of formData.entries()){
    //         console.log(key +"=:"+ value)
    //     }
    //     $.ajax({
    //         url: 'fileUpload',
    //         type: 'POST',
    //         cache: false,
    //         data: formData,
    //         dataType: 'json',
    //         processData: false,
    //         contentType: false,
    //         success: function(res) { //成功
    //             console.log("res.toString:"+res.toString());
    //             var e1=document.getElementById('imgs');
    //             var e2=document.getElementById('path');
    //             e1.style.display='block';
    //             e1.src=res.filePath;
    //             e2.value=res.fileName;
    //         },error: function(res) { //失败的话
    //             alert(res.msg);
    //         }
    //     })
    // }

</script>

</html>
