<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzlbe.dao.mapper.AreaMapper">

    <resultMap id="BaseMap" type="com.zzlbe.dao.entity.AreaEntity">
        <result column="ar_id" property="id"/>
        <result column="ar_provincecode" property="provincecode"/>
        <result column="ar_provincename" property="provincename"/>
        <result column="ar_citycode" property="citycode"/>
        <result column="ar_cityname" property="cityname"/>
        <result column="ar_countycode" property="countycode"/>
        <result column="ar_countyname" property="countyname"/>
        <result column="ar_towncode" property="towncode"/>
        <result column="ar_townname" property="townname"/>
        <result column="ar_sp_id" property="spid"/>
    </resultMap>

    <sql id="tableName">tb_area</sql>

    <sql id="columns">
        ar_id,
        ar_provincecode,
        ar_provincename,
        ar_citycode,
        ar_cityname,
        ar_countycode,
        ar_countyname,
        ar_towncode,
        ar_townname,
        ar_sp_id
    </sql>
    <select id="" resultMap="BaseMap">
        SELECT * FROM tb_area WHERE ar_sp_id =#{spid}
    </select>

    <select id="selectBySpid" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE ar_sp_id = #{id}
        group by ar_countycode

    </select>

    <select id="selectProvince" resultMap="BaseMap">
        SELECT
        ar_provincecode,ar_provincename
        FROM
        <include refid="tableName"/>
        group by ar_provincecode
    </select>

    <select id="selectCity" resultMap="BaseMap">
        SELECT
        ar_citycode,ar_cityname
        FROM
        <include refid="tableName"/>
        WHERE ar_provincecode = #{provincecode}
        group by ar_citycode

    </select>

    <select id="selectCounty" resultMap="BaseMap">
        SELECT
        ar_countycode,ar_countyname
        FROM
        <include refid="tableName"/>
        WHERE ar_citycode = #{citycode}
        group by ar_countycode
    </select>

    <select id="selectTown" resultMap="BaseMap">
        SELECT
        ar_towncode,ar_townname
        FROM
        <include refid="tableName"/>
        WHERE ar_countycode=#{countycode}
    </select>

    <select id="selectOne" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE ar_towncode=#{towncode}
    </select>

    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="provincecode != null">
                ar_provincecode = #{provincecode},
            </if>
            <if test="provincename != null">
                ar_provincename = #{provincename},
            </if>
            <if test="citycode != null">
                ar_citycode = #{citycode},
            </if>
            <if test="cityname != null">
                ar_cityname = #{cityname},
            </if>
            <if test="countycode != null">
                ar_countycode = #{countycode},
            </if>
            <if test="countyname != null">
                ar_countyname = #{countyname},
            </if>
            <if test="towncode != null">
                ar_towncode = #{towncode},
            </if>
            <if test="townname != null">
                ar_townname = #{townname},
            </if>
            <if test="spid != null">
                ar_sp_id = #{spid},
            </if>
        </set>
        WHERE
        ar_countycode = #{countycode}
    </update>
    <update id="update2">
        UPDATE
        <include refid="tableName"/>
        SET ar_sp_id=NULL
        WHERE
        ar_countycode = #{countycode}
    </update>


</mapper>