<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzlbe.dao.mapper.CustomerMapper">

    <resultMap id="BaseMap" type="com.zzlbe.dao.entity.CustomerEntity">
        <result column="cu_id" property="cuId"/>
        <result column="cu_order_id" property="cuOrderId"/>
        <result column="cu_user_id" property="cuUserId"/>
        <result column="cu_seller_id" property="cuSellerId"/>
        <result column="cu_goods_id" property="cuGoodsId"/>
        <result column="cu_goods_count" property="cuGoodsCount"/>
        <result column="cu_reason" property="cuReason"/>
        <result column="cu_type" property="cuType"/>
        <result column="cu_time" property="cuTime"/>
        <result column="cu_description" property="cuDescription"/>
        <result column="cu_money" property="cuMoney"/>
    </resultMap>

    <sql id="tableName">tb_customer</sql>

    <sql id="columns">
        cu_id,
        cu_order_id,
        cu_user_id,
        cu_seller_id,
        cu_goods_id,
        cu_goods_count,
        cu_reason,
        cu_type,
        cu_time,
        cu_description,
        cu_money
    </sql>

    <sql id="condition">
        <where>
            <if test="cuOrderId != null">
                AND cu_order_id = #{cuOrderId}
            </if>
            <if test="cuUserId != null">
                AND cu_user_id = #{cuUserId}
            </if>
            <if test="cuSellerId != null">
                AND cu_seller_id = #{cuSellerId}
            </if>
            <if test="cuGoodsId != null">
                AND cu_goods_id = #{cuGoodsId}
            </if>
            <if test="cuGoodsCount != null">
                AND cu_goods_count = #{cuGoodsCount}
            </if>
            <if test="cuReason != null">
                AND cu_reason = #{cuReason}
            </if>
            <if test="cuType != null">
                AND cu_type = #{cuType}
            </if>
            <if test="cuTimeStr != null">
                AND cu_time = #{cuTimeStr}
            </if>
            <if test="cuDescription != null">
                AND cu_description REGEXP #{cuDescription}
            </if>
            <if test="cuMoney != null">
                AND cu_money = #{cuMoney}
            </if>
        </where>
    </sql>

    <select id="selectById" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE cu_id = #{id}
    </select>

    <select id="selectByOrder" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE cu_order_id = #{orderId} AND cu_reason = #{reason}
    </select>

    <select id="selectByPage" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="selectByPageTotal" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="cuOrderId != null">
                cu_order_id = #{cuOrderId},
            </if>
            <if test="cuUserId != null">
                cu_user_id = #{cuUserId},
            </if>
            <if test="cuSellerId != null">
                cu_seller_id = #{cuSellerId},
            </if>
            <if test="cuGoodsId != null">
                cu_goods_id = #{cuGoodsId},
            </if>
            <if test="cuGoodsCount != null">
                cu_goods_count = #{cuGoodsCount},
            </if>
            <if test="cuReason != null">
                cu_reason = #{cuReason},
            </if>
            <if test="cuType != null">
                cu_type = #{cuType},
            </if>
            <if test="cuTime != null">
                cu_time = #{cuTime},
            </if>
            <if test="cuDescription != null">
                cu_description = #{cuDescription},
            </if>
            <if test="cuMoney != null">
                cu_money = #{cuMoney},
            </if>
        </set>
        WHERE
        cu_id = #{cuId}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="cuId">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{cuId},
        #{cuOrderId},
        #{cuUserId},
        #{cuSellerId},
        #{cuGoodsId},
        #{cuGoodsCount},
        #{cuReason},
        #{cuType},
        #{cuTime},
        #{cuDescription},
        #{cuMoney}
        )
    </insert>

</mapper>