<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzlbe.dao.mapper.SaleMapper">

    <resultMap id="BaseMap" type="com.zzlbe.dao.entity.SaleEntity">
        <result column="sa_id" property="id"/>
        <result column="sa_type" property="type"/>
        <result column="sa_discount" property="discount"/>
        <result column="sa_start" property="start"/>
        <result column="sa_reach" property="reach"/>
        <result column="sa_minus" property="minus"/>
        <result column="sa_start_time" property="startTime"/>
        <result column="sa_over_time" property="overTime"/>
        <result column="sa_area_ids" property="areaIds"/>
        <result column="sa_status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap id="GoodsSaleMap" type="com.zzlbe.dao.search.GoodsSaleSearch">
        <result column="go_id" property="id"/>
        <result column="go_name" property="name"/>
        <result column="go_sort" property="sort"/>
        <result column="go_version" property="version"/>
        <result column="go_price" property="price"/>
        <result column="go_minprice" property="minPrice"/>
        <result column="go_introduce" property="introduce"/>
        <result column="go_newimgpath" property="newImgPath"/>
        <result column="go_point" property="point"/>
        <result column="go_isshow" property="isShow"/>
        <result column="go_num" property="num"/>
        <result column="go_credit" property="credit"/>

        <result column="sa_id" property="id"/>
        <result column="sa_type" property="type"/>
        <result column="sa_discount" property="discount"/>
        <result column="sa_start" property="start"/>
        <result column="sa_reach" property="reach"/>
        <result column="sa_minus" property="minus"/>
        <result column="sa_start_time" property="startTime"/>
        <result column="sa_over_time" property="overTime"/>
        <result column="sa_area_ids" property="areaIds"/>
        <result column="sa_status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="tableName">tb_sale</sql>

    <sql id="columns">
        sa_id,
        sa_type,
        sa_discount,
        sa_start,
        sa_reach,
        sa_minus,
        sa_start_time,
        sa_over_time,
        sa_area_ids,
        sa_status,
        create_time,
        update_time
    </sql>

    <sql id="condition">
        <where>
            <if test="type != null">
                AND sa_type = #{type}
            </if>
            <if test="discount != null">
                AND sa_discount = #{discount}
            </if>
            <if test="start != null">
                AND sa_start = #{start}
            </if>
            <if test="reach != null">
                AND sa_reach = #{reach}
            </if>
            <if test="minus != null">
                AND sa_minus = #{minus}
            </if>
            <if test="startTime != null">
                AND sa_start_time <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test="overTime != null">
                AND sa_over_time <![CDATA[ <= ]]> #{overTime}
            </if>
            <if test="areaIds != null">
                AND sa_area_ids = #{areaIds}
            </if>
            <if test="areaId != null">
                AND sa_area_ids REGEXP #{areaId}
            </if>
            <if test="unAreaId != null">
                AND sa_area_ids NOT REGEXP #{unAreaId}
            </if>
            <if test="status != null">
                AND sa_status = #{status}
            </if>
        </where>
    </sql>

    <select id="selectById" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE sa_id = #{id}
    </select>

    <select id="selectByPage" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="selectByPageTotal" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="select2ByPage"  resultMap="BaseMap">
        select * from tb_goods t1
        left join tb_sale t2
        on t1.go_id = t2.sa_id
        GROUP BY t1.go_id
    </select>


    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="type != null">
                sa_type = #{type},
            </if>
            <if test="discount != null">
                sa_discount = #{discount},
            </if>
            <if test="start != null">
                sa_start = #{start},
            </if>
            <if test="reach != null">
                sa_reach = #{reach},
            </if>
            <if test="minus != null">
                sa_minus = #{minus},
            </if>
            <if test="startTime != null">
                sa_start_time = #{startTime},
            </if>
            <if test="overTime != null">
                sa_over_time = #{overTime},
            </if>
            <if test="areaIds != null">
                sa_area_ids = #{areaIds},
            </if>
            <if test="status != null">
                sa_status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE sa_id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{id},
        #{type},
        #{discount},
        #{start},
        #{reach},
        #{minus},
        #{startTime},
        #{overTime},
        #{areaIds},
        #{status},
        #{createTime},
        #{updateTime}
        )
    </insert>

</mapper>