<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzlbe.dao.mapper.SentgiftMapper">

    <resultMap id="BaseMap" type="com.zzlbe.dao.entity.SentgiftEntity">
        <result column="sg_id" property="id"/>
        <result column="sg_gift_id" property="giftId"/>
        <result column="sg_fromid" property="fromid"/>
        <result column="sg_toid" property="toid"/>
        <result column="sg_tophone" property="tophone"/>
        <result column="sg_type" property="type"/>
        <result column="sg_logistics" property="logistics"/>
        <result column="sg_num" property="num"/>
        <result column="sg_credit" property="credit"/>
        <result column="sg_status" property="status"/>
        <result column="sg_date" property="date"/>
        <!-- 附加字段, u_name属于用户表 -->
        <result column="u_name" property="userName"/>
    </resultMap>

    <resultMap id="SentgiftSearch" type="com.zzlbe.dao.search.SentgiftSearch">
        <result column="sg_id" property="id"/>
        <result column="sg_gift_id" property="giftId"/>
        <result column="gi_name" property="gname"/>
        <result column="sg_address" property="address"/>
        <result column="sg_fromid" property="fromid"/>
        <result column="sg_toid" property="toid"/>
        <result column="u_name" property="uname"/>
        <result column="sg_tophone" property="tophone"/>
        <result column="sg_type" property="type"/>
        <result column="sg_logistics" property="logistics"/>
        <result column="sg_num" property="num"/>
        <result column="sg_credit" property="credit"/>
        <result column="sg_status" property="status"/>
        <result column="sg_date" property="date"/>
    </resultMap>

    <resultMap id="sendGiftByUser" type="com.zzlbe.dao.search.CreditConsumeBySendGiftVO">
        <result column="sg_num" property="count"/>
        <result column="sg_credit" property="credit"/>
        <result column="sg_credit_total" property="totalCredit"/>
        <result column="sg_status" property="status"/>
        <result column="sg_date" property="date"/>
        <result column="gi_name" property="giftName"/>
        <result column="gi_describe" property="giftDescribe"/>
        <result column="gi_credit" property="giftUnitCredit"/>
        <result column="gi_imgpath" property="giftImgPath"/>
        <result column="ad_address" property="address"/>
        <result column="ad_info" property="addressInfo"/>
        <result column="ad_u_name" property="userName"/>
        <result column="ad_phone" property="userPhone"/>
    </resultMap>

    <sql id="tableName">tb_sendgift</sql>

    <sql id="columns">
        sg_id,
        sg_gift_id,
        sg_fromid,
        sg_toid,
        sg_tophone,
        sg_address,
        sg_type,
        sg_logistics,
        sg_num,
        sg_credit,
        sg_status,
        sg_date
    </sql>

    <sql id="condition">
        <where>
            <if test="giftIds != null">
                AND sg_gift_id IN
                <foreach collection="giftIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="giftId != null">
                AND sg_gift_id = #{giftId}
            </if>
            <if test="credit != null">
                AND sg_credit = #{credit}
            </if>
            <if test="fromid != null">
                AND sg_fromid = #{fromid}
            </if>
            <if test="toid != null">
                AND sg_toid = #{toid}
            </if>
            <if test="tophone != null">
                AND sg_tophone = #{tophone}
            </if>
        </where>
    </sql>

    <select id="selectById" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE sg_id = #{id}
    </select>

    <select id="selectByUid" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE sg_toid = #{uid}
    </select>

    <select id="selectByPage" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        ,u_name
        FROM
        <include refid="tableName"/>
        LEFT JOIN tb_user ON sg_toid = u_id
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="select2ByPage" resultMap="SentgiftSearch">
        select * from (tb_sendgift t1
        left join tb_gift t2 on t1.sg_gift_id = t2.gi_id)
        left join tb_user t3 on t1.sg_toid=t3.u_id
        GROUP BY sg_id
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="selectByPageTotal" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="sendGiftByUser" resultMap="sendGiftByUser">
        SELECT
        sg_num,
        sg_credit,
        (sg_credit * sg_num) AS sg_credit_total,
        sg_status,
        sg_date,
        gi_name,
        gi_describe,
        gi_credit,
        gi_imgpath,
        ad_address,
        ad_info,
        ad_u_name,
        ad_phone
        FROM
        <include refid="tableName"/>
        LEFT JOIN tb_gift ON sg_gift_id = gi_id
        LEFT JOIN tb_addresses ON sg_address = ad_id
        WHERE sg_toid = #{userId};
    </select>

    <select id="sendGiftByUserTotal" resultType="long">
        SELECT
        SUM(sg_credit * sg_num)
        FROM
        <include refid="tableName"/>
        LEFT JOIN tb_gift ON sg_gift_id = gi_id
        LEFT JOIN tb_addresses ON sg_address = ad_id
        WHERE sg_toid = #{userId};
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{id},
        #{giftId},
        #{fromid},
        #{toid},
        #{tophone},
        #{address},
        #{type},
        #{logistics},
        #{num},
        #{credit},
        #{status},
        #{date}
        )
    </insert>

</mapper>