<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzlbe.dao.mapper.SuggestTopicMapper">

    <resultMap id="BaseMap" type="com.zzlbe.dao.entity.SuggestTopicEntity">
        <result column="id" property="id"/>
        <result column="suggest_id" property="suggestId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="SuggestTopicQuerySearch" type="com.zzlbe.dao.search.SuggestTopicQuerySearch">
        <result column="id" property="id"/>
        <result column="suggest_id" property="suggestId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="tableName">tb_suggest_topic</sql>

    <sql id="columns">
        id,
        suggest_id,
        user_id,
        user_name,
        content,
        create_time
    </sql>

    <sql id="condition">
        <where>
            <if test="suggestId != null">
                AND suggest_id = #{suggestId}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="userName != null">
                AND user_name = #{userName}
            </if>
            <if test="content != null">
                AND content REGEXP #{content}
            </if>
        </where>
        <if test="sortDesc">
            ORDER BY create_time DESC
        </if>
    </sql>

    <select id="selectById" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE id = #{id}
    </select>

    <select id="selectByPage" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="select2ByPage" resultMap="SuggestTopicQuerySearch">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="selectByPageTotal" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{id},
        #{suggestId},
        #{userId},
        #{userName},
        #{content},
        #{createTime}
        )
    </insert>

</mapper>