<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzlbe.dao.mapper.SuggestMapper">

    <resultMap id="BaseMap" type="com.zzlbe.dao.entity.SuggestEntity">
        <result column="su_id" property="suId"/>
        <result column="su_type" property="suType"/>
        <result column="su_title" property="suTitle"/>
        <result column="su_content" property="suContent"/>
        <result column="su_u_id" property="suUserId"/>
        <result column="su_goods_name" property="suGoodsName"/>
        <result column="su_seller_id" property="suSellerId"/>
        <result column="su_time" property="suTime"/>
        <result column="su_is_ok" property="suIsOk"/>
    </resultMap>

    <sql id="tableName">tb_suggest</sql>

    <sql id="columns">
        su_id,
        su_type,
        su_title,
        su_content,
        su_u_id,
        su_goods_name,
        su_seller_id,
        su_time,
        su_is_ok
    </sql>

    <select id="selectByPage" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <where>
            <if test="name != null">
                AND u_name = #{name}
            </if>
        </where>
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="selectById" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE suId = #{id}
    </select>

    <select id="suggestionCount" resultType="int">
        SELECT COUNT(1)
        FROM
        <include refid="tableName"/>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="suId">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{suId},
        #{suType},
        #{suTitle},
        #{suContent},
        #{suUserId},
        #{suGoodsName},
        #{suSellerId},
        #{suTime},
        #{suIsOk}
        )
    </insert>

</mapper>