<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzlbe.dao.mapper.UserMapper">

    <resultMap id="BaseMap" type="com.zzlbe.dao.entity.UserEntity">
        <result column="u_id" property="id"/>
        <result column="u_name" property="name"/>
        <result column="u_password" property="password"/>
        <result column="u_wechat" property="wechat"/>
        <result column="u_phone" property="phone"/>
        <result column="u_realname" property="realname"/>
        <result column="u_address" property="address"/>
        <result column="u_credit" property="credit"/>
    </resultMap>

    <sql id="tableName">tb_user</sql>

    <sql id="columns">
        u_id,
        u_name,
        u_password,
        u_wechat,
        u_phone,
        u_realname,
        u_address,
        u_credit
    </sql>

    <sql id="condition">
        <where>
            <if test="name != null">
                AND u_name = #{name}
            </if>
            <if test="wechat != null">
                AND u_wechat = #{wechat}
            </if>
            <if test="phone != null">
                AND u_phone = #{phone}
            </if>
            <if test="realname != null">
                AND u_realname = #{realname}
            </if>
        </where>
    </sql>

    <select id="userLogin" resultMap="BaseMap">
        SELECT * FROM tb_user WHERE u_name = #{name} AND u_password =#{password}
    </select>

    <select id="selectByPage" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{size}
    </select>

    <select id="selectByPageTotal" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>


    <select id="userCount" resultType="int">
        SELECT COUNT(1)
        FROM tb_user
    </select>

    <select id="selectById" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE u_id = #{id}
    </select>

    <select id="selectByPhoneNo" resultMap="BaseMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE u_phone = #{phoneNo}
        LIMIT 1
    </select>

    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="name != null">
                u_name = #{name},
            </if>
            <if test="password != null">
                u_password = #{password},
            </if>
            <if test="wechat != null">
                u_wechat = #{wechat},
            </if>
            <if test="phone != null">
                u_phone = #{phone},
            </if>
            <if test="realname != null">
                u_realname = #{realname},
            </if>
            <if test="address != null">
                u_address = #{address},
            </if>
            <if test="credit != null">
                u_credit = #{credit},
            </if>
        </set>
        WHERE
        u_id = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{id},
        #{name},
        #{password},
        #{wechat},
        #{phone},
        #{realname},
        #{address},
        #{credit}
        )
    </insert>

</mapper>